@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  /* BRAND */
  --color-at-orange: #fd7014;
  --color-at-black: #222831;
  --color-at-grey: #393e46;
  --color-at-white: #eeeeee;
  /* OTHERS */
  --color-white: #fff;
  --color-black: #030303;
}
*,
::before ::after {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
main {
  background-color: var(--color-at-white);
  padding-bottom: 60px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  overflow-x: hidden;
  height: 100%;
  overscroll-behavior-y: none;
}
img {
  height: auto;
  max-width: 100%;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 2.5rem;
  font-family: "Red Hat Display", sans-serif;
}
h2 {
  font-size: 2rem;
  font-family: "Red Hat Display", sans-serif;
}
h3 {
  font-size: 1.75rem;
  font-family: "Red Hat Display", sans-serif;
}
h4 {
  font-size: 1.5rem;
  font-family: "Red Hat Display", sans-serif;
}
h5 {
  font-size: 1.25rem;
  font-family: "Red Hat Display", sans-serif;
}
h6 {
  font-size: 1.125rem;
  font-family: "Red Hat Display", sans-serif;
}

.text-at-orange {
  color: var(--color-at-orange);
}

.text-at-grey {
  color: var(--color-at-grey);
}


.top-section {
  width: 100%;
  max-height: 40%;
  flex: 1 1 50%;
  overflow-y: auto;
  box-sizing: border-box;
}

.bottom-section {
  position: fixed;
  width: 100%;
  max-height: 60%;
  bottom: 60px;
  flex: 0 0 50%;
  box-sizing: border-box;
  background-color: var(--color-at-white);
}

.at-popup{

}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.125rem;
  }
}
