.at-form-flotante {
  position: absolute;
  bottom: 0px;
  left: auto;
  min-width: 100%;
  width: 100%;
  font-size: 14px !important;
  color: var(--color-at-white);
  background-color: #393e46;
  padding: 8px 12px;
  border-radius: 12px 12px 0px 0px;
  z-index: 9992;
}

.at-form-flotante .form-control {
  padding: 0.15rem .5rem;
}

@media only screen and (min-width: 768px) {
  .at-form-flotante {
    bottom: 4px;
    left: 16px;
    min-width: 320px;
    width:auto;
    font-size: 14px !important;
    padding: 12px;
    border-radius: 12px;
  }
  
}
